@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

.parrafo{
    font-family: "Monserrat", sans-serif;
    font-size: $tamano-fuente-parrafo;
    font-style: $estilo-fuente-parrafo;
    text-align: justify;
    width: 100%;
    height: 315px;
    background-color: $color-fondo-textos;
    padding: 45px;
    margin-right: 20px;
    margin-top: 10px;
}

