$color-fondo-textos:#b7c69d;
$color-enlaces:#1f731f;
$color-titulos:#1f731fbd;
$color-logo:darkgreen;
$color-fondo-seccion:#daf2af;
$color-body:#eef5ea;

$tamano-fuente-parrafo: 16px;
$estilo-fuente-parrafo: italic;
